{
  "api/src/**/*.{js,ts}": [
    "eslint --fix",
    "prettier --write"
  ],
  "web/**/*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "mobile/**/*.{js,jsx,ts,tsx}": [
    "prettier --write"
  ],
  "packages/shared/src/**/*.{js,ts}": [
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}
