@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 240 10% 5%;
  --surface: 240 10% 9%;
  --text: 240 20% 98%;
  --muted: 240 6% 64%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--bg));
  color: hsl(var(--text));
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

:focus-visible {
  outline: 2px solid #d4af37;
  outline-offset: 3px;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
